*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1280px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 980px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 736px) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 520px) {
    html {
      font-size: 30%; } }
  @media only screen and (max-width: 325px) {
    html {
      font-size: 20%; } }

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif; }

.wrapper {
  background: url(img/1.jpg);
  background-size: cover; }

.main {
  background-image: linear-gradient(111.24893deg, rgba(86, 216, 228, 0.8) 5.53385%, rgba(159, 1, 234, 0.8) 96.67969%), url(img/main.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 56%, 63% 100%, 0 56%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 56%, 63% 100%, 0 56%, 0 0);
  height: 100vh;
  display: flex;
  flex: 1 9; }
  @media only screen and (max-width: 1280px) {
    .main {
      height: 80vh; } }
  @media only screen and (max-width: 736px) {
    .main {
      height: 60vh; } }
  @media only screen and (max-width: 520px) {
    .main {
      height: 50vh; } }
  @media only screen and (max-width: 325px) {
    .main {
      height: 40vh; } }
  .main__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 5rem;
    opacity: 0;
    animation: 1.6s 0.5s a-right ease-in-out forwards; }

.about {
  padding: 7rem 0;
  display: flex;
  flex: 1 9;
  align-items: center; }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    .about__content--text {
      width: 60rem;
      margin-left: -20rem;
      text-align: center; }
      @media only screen and (max-width: 736px) {
        .about__content--text {
          width: 40rem;
          margin-right: 0; } }
    .about__content__image {
      margin-left: 20rem; }
      @media only screen and (max-width: 736px) {
        .about__content__image {
          margin-right: 0; } }

/* Services */
.services {
  display: flex;
  flex: 1 9;
  align-items: center; }
  .services__content {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(111.24893deg, rgba(86, 216, 228, 0.8) 5.53385%, rgba(159, 1, 234, 0.8) 96.67969%), url(img/serv_1.jpg);
    background-size: contain;
    background-position: top;
    -webkit-clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 1; }
    @media only screen and (max-width: 1280px) {
      .services__content {
        height: 80vh; } }
    @media only screen and (max-width: 980px) {
      .services__content {
        height: 70vh; } }
    @media only screen and (max-width: 736px) {
      .services__content {
        height: 80vh;
        flex-direction: column;
        justify-content: center; } }

.projects {
  display: flex;
  flex: 1 9;
  align-items: center;
  margin: 10rem 0;
  padding-bottom: 2rem; }
  .projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; }
    .projects__content--mainimg img {
      width: 70rem; }
      @media only screen and (max-width: 1280px) {
        .projects__content--mainimg img {
          width: 60rem; } }
      @media only screen and (max-width: 520px) {
        .projects__content--mainimg img {
          width: 50rem; } }
      @media only screen and (max-width: 325px) {
        .projects__content--mainimg img {
          width: 40rem; } }
    .projects__content--imgs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1px; }
      .projects__content--imgs img {
        width: 17.5rem; }
        @media only screen and (max-width: 1280px) {
          .projects__content--imgs img {
            width: 15rem; } }
        @media only screen and (max-width: 520px) {
          .projects__content--imgs img {
            width: 12.5rem; } }
        @media only screen and (max-width: 325px) {
          .projects__content--imgs img {
            width: 10rem; } }
        .projects__content--imgs img:hover {
          cursor: pointer;
          transform: scale(1.05); }

.contact {
  display: flex;
  flex: 1 9;
  align-items: center;
  padding-bottom: 5rem; }
  .contact__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto; }

.footer {
  height: 5rem;
  background-color: #6bd3dc; }
  @media only screen and (max-width: 520px) {
    .footer {
      height: 4rem; } }

.icon-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 6rem 1rem; }
  .icon-vertical__link {
    font-size: 3rem;
    color: #fff;
    padding: 1rem;
    transition: all .5s;
    opacity: 0;
    animation: 1s 0.5s a-left ease-in-out forwards; }
    .icon-vertical__link:hover {
      cursor: pointer;
      color: #6072BD;
      transform: scale(1.3); }

.icon-blue {
  font-size: 3rem;
  color: #6bd3dc;
  padding: 1rem;
  transition: all .5s; }
  .icon-blue:hover {
    cursor: pointer;
    transform: scale(1.3); }

.icon {
  display: flex;
  justify-content: flex-start; }
  .icon__link {
    font-size: 2rem;
    color: #fff;
    padding: .5rem 2rem 0 2rem; }
    .icon__link:hover {
      cursor: pointer;
      color: #6072BD; }

.line-white {
  height: 20rem;
  width: 2px;
  background-color: #fff;
  margin-right: -30rem;
  margin-top: 2rem;
  opacity: 0;
  animation: 2s 0.5s a-up ease-in-out forwards; }
  @media only screen and (max-width: 980px) {
    .line-white {
      display: none; } }

.line-violet {
  height: 10rem;
  width: 2px;
  background-color: #6072BD;
  margin: auto; }

.heading {
  font-size: 8rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 0;
  text-shadow: 0 2px 10px rgba(51, 51, 51, 0.8); }
  .heading__secondary {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 0;
    text-shadow: 0 2px 10px rgba(51, 51, 51, 0.8); }
  .heading__small {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #6072BD;
    padding: 1rem; }
  .heading__blue {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #6bd3dc;
    padding: 1rem 3rem;
    margin-bottom: 3rem; }

.paragraph {
  font-size: 2rem;
  color: #fff;
  padding-bottom: 1rem; }
  .paragraph__secondary {
    font-size: 2rem;
    color: #333;
    padding-bottom: 1rem; }
  .paragraph__small {
    font-size: 1.5rem;
    color: #333;
    padding: 2rem 1rem; }

.vert-text {
  transform: rotate(-90deg);
  font-size: 6rem;
  margin: 0;
  padding: 0;
  color: #6072BD;
  z-index: 10; }

.link-more {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }
  .link-more:hover {
    cursor: pointer;
    color: #6bd3dc; }
  .link-more__small {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
    .link-more__small:hover {
      cursor: pointer;
      color: #6bd3dc; }

.box-blue {
  background-color: rgba(107, 211, 220, 0.9);
  border-radius: 3px;
  padding: 3rem 4rem; }

.box-violet {
  background-color: rgba(96, 114, 189, 0.9);
  border-radius: 3px;
  padding: 2rem 3rem;
  margin-top: -3rem;
  transition: all .5s; }
  .box-violet:hover {
    cursor: pointer;
    transform: scale(1.1); }
  .box-violet__small {
    background-color: rgba(96, 114, 189, 0.9);
    border-radius: 3px;
    padding: 1rem 2rem;
    transition: all .5s; }
    .box-violet__small:hover {
      cursor: pointer;
      transform: scale(1.1); }

.image {
  width: 60rem;
  border-radius: 3px;
  box-shadow: 9px 9px 28px -10px rgba(51, 51, 51, 0.75); }
  @media only screen and (max-width: 736px) {
    .image {
      width: 50rem; } }
  @media only screen and (max-width: 325px) {
    .image {
      width: 45rem; } }

.card {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  box-shadow: 9px 9px 28px -10px rgba(51, 51, 51, 0.75);
  text-align: center;
  padding: 4rem 2rem;
  transition: all .5s; }
  @media only screen and (max-width: 736px) {
    .card {
      width: 35rem;
      padding: 1rem;
      margin-top: 3rem; } }
  .card:hover {
    cursor: pointer;
    transform: scale(1.1); }

.btn {
  background-color: #6072BD;
  color: #fff;
  padding: 1rem 0; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 2rem; }
    @media only screen and (max-width: 520px) {
      .btn:link, .btn:visited {
        font-size: 0.5rem; } }
  .btn:hover {
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
    cursor: pointer; }
  .btn:active {
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(51, 51, 51, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  background-image: radial-gradient(circle, #475387, #4173a5, #3f93bd, #4db3cf, #6bd3dc);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  @media only screen and (max-width: 736px) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 6rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #6072BD;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  z-index: 1500; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #6bd3dc;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 20; }
  .form__group .input {
    width: 50rem;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .3s; }
    .form__group .input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
      border-bottom: 3px solid #6072BD; }
    .form__group .input:focus:invalid {
      border-bottom: 3px solid #6bd3dc; }
    .form__group .input::-webkit-input-placeholder {
      color: #6072BD; }
  .form__group .label {
    font-size: 1.4rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__group .input:placeholder-shown + .label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

/* ANIMATION */
@keyframes a-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes a-right {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes a-left {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes a-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 300px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.animate {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: all 1s ease; }

.animate.start {
  opacity: 1;
  transform: translate3d(0, 0, 0); }
